.MainView {
    text-align: center;
}

.MainView h1 {
    font-size: 10vmin;
}

.Link {
    text-decoration: none;
    border: 1px solid black;
    color: black;
    display: block;
    width: 20%;
    padding: 1%;
    font-size: 3vmin;
    margin:  10px auto 0 auto;
    border-radius: 5px;
}
