.VisibleQuestion {
    width: 80%;
    height: 15%;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    margin: 15px auto;
    border-radius: 15px;
    padding-bottom: 5px;
    background-color: #efefef;
}

.VisibleQuestion .question {
    font-size: 3vmin;
    margin-bottom: 0;
}

.VisibleQuestion .answer {
    margin-top: 0;
    font-size: 3.5vmin;
    font-weight: bold;
}

.VisibleQuestion .module {
    font-size: 1.8vmin;
}

.VisibleQuestion p {
    margin: 10px;
}


